#divRecorder {
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
  height: 400px;
}
#videoRecorder {
  position: absolute;
  max-width: 500px;
  margin: 10px auto;
  video {
    width: 100%;
    margin: 0;
  }
  button#startBtn {
    padding: 10px 20px;
    background-color: rgba($color: white, $alpha: 0.9);
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
#needRecord {
  cursor: pointer;
}
