#videoContainer {
  position: relative;
  video {
    width: 100%;
  }
}
#videoControls {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  &.showing {
    opacity: 1;
  }
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
  width: 95%;
  max-width: 1500px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: 6fr 1fr auto;
  align-items: center;
  justify-content: space-between;
  div {
    display: flex;
  }
  i {
    margin: 0 10px;
  }
  #time {
    margin: 0 10px;
  }
  #timeline {
    width: 95%;
  }
  input[type="range"] {
    -webkit-appearance: none;
    position: relative;
    top: 2px;
    background: rgba(255, 255, 255, 0.2);
    height: 8px;
    border-radius: 4px;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }

  ::-ms-fill-lower {
    background: white;
  }
}
