doctype html
html(lang="ko")
    head
        title #{pageTitle} | yermtube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/videos/upload") Upload a video &rarr;
                    li 
                        a(href="/") Home
        main 
            block content
    include partials/footer