extends ../base

block content
    h3 #{errorMessage? errorMessage : null}
    form(method="post")
        input(name="oldPassword", placeholder="Current Password", type="password", required)
        input(name="newPassword", placeholder="New Password", type="password", required)
        input(name="newPassword2", placeholder="New Password Confirmation", type="password", required)
        input(type="submit", value="Change Password")

